@font-face {
    font-family: 'conformitynormal';
    src: url('confn___-webfont.woff2') format('woff2'),
         url('confn___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

.left {
    width: 40vw;
    color: whitesmoke;
}

.right {
    width: 60vw;
}

.background {
    object-fit: cover;
    object-position: 5% 0%;
    position: absolute;
    width: inherit;
    left: 0px;
    height: 100%;
}

.capContainer {
    position: relative;
    height: 100vh;
    width: inherit;
    text-align: center;
}

.caption {
    position: absolute;
    bottom: 5px;
    font-size: 14px;
    width: inherit;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: inherit;
    height: 20%;
    margin: 10vh 0 0 0;
}

.overlayContainer {
    display: flex;
    height: 100%;
    width: 100%;
    border: red 3px solid;
    align-items: center;
    min-width: min-content;

.logo {
    max-height: 80%;
    border: blue 2px solid;
}

.name {
    font-size: 6vh;
    font-family: 'conformitynormal';
    border: green 2px solid;
}
}

