@font-face {
    font-family: 'conformitynormal';
    src: url('fonts/confn___-webfont.woff2') format('woff2'),
         url('fonts/confn___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'open_sansregular', Lato, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
}

.left {
    width: 40vw;
    color: whitesmoke;
}

.background {
    object-fit: cover;
    object-position: 5% 0%;
    position: absolute;
    width: inherit;
    left: 0px;
    height: 100%;
}

.capContainer {
    position: relative;
    height: 100vh;
    width: inherit;
    text-align: center;
}

.caption {
    position: absolute;
    bottom: 5px;
    font-size: 14px;
    width: inherit;
}

.overlay {
    position: absolute;
    background-color: rgba(4, 21 , 41, .7);
    width: inherit;
    height: 20%;
    margin: 10vh 0 0 0;
}

.overlayContainer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    max-height: 72%;
    margin-right: -20px;
}

.name {
    font-size: 6vh;
    font-family: 'conformitynormal';
    padding-top: 24px;

}

@media (max-width: 780px) {
    .name {
        display: none;
    }
}

.right {
    width: 60vw;
    color: rgba(4, 21 , 41);
    background-color: rgb(248, 248, 248);
}

.right div {
    padding: 10px;
}

.right p {
    padding: 0px 4vw;
}

.middle {
    background-color: white;
    box-shadow: 0px 6px 6px lightgray;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4vw;
}

li {
    color: gray;
    padding: 16px 2vw 0 0;
    list-style: none;
}

label {
    font-size: .68rem;
    display: flex;
    margin-bottom: 4px;
}

input {
    width: 20vw;
}

.bottom button {
    margin: 24px 0 0 4vw;
}