@font-face {
    font-family: 'conformitynormal';
    src: url('confn___-webfont.woff2') format('woff2'),
         url('confn___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

.left {
    width: 40vw;
    color: whitesmoke;
}

.right {
    width: 60vw;
}

.background {
    object-fit: cover;
    object-position: 5% 0%;
    position: absolute;
    width: inherit;
    left: 0px;
    height: 100%;
}

.capContainer {
    position: relative;
    height: 100vh;
    width: inherit;
    text-align: center;
}

.caption {
    position: absolute;
    bottom: 5px;
    font-size: 14px;
    width: inherit;
}

.overlay {
    position: absolute;
    background-color: rgba(4, 21 , 41, .7);
    width: inherit;
    height: 20%;
    margin: 10vh 0 0 0;
}

.overlayContainer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    max-height: 72%;
    margin-right: -20px;
}

.name {
    font-size: 6vh;
    font-family: 'conformitynormal';
    padding-top: 24px;

}

@media (max-width: 780px) {
    .name {
        display: none;
    }
}